.navLink{
    text-decoration: none;
    background: transparent;
    color: black;
}

.navbar{
    width: 100%;
    font-size: 5px;
    line-height:20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color:white;
    position: relative;
    z-index: 1;
    background: #6B97BE;
    /* background: transparent; */
    padding: 18px;
    height: 70px;
    transition: 1s;
    /* position: fixed; */
}

.activeNav{
    background: rgba(0, 0, 0, 0.77);
    position: fixed;
    transition: 1s;
    top: 0;
}

.imgDiv{
    display: flex;
}

.logo {
    margin: 3px auto;
    font-size:30px;
    transition: 1s;
    position: absolute;
    top: 4px;
}

.activeLogo{
    transition: 1s;
    position:fixed ;
}

.navLinks{
    margin: 0;
    display: flex;
    justify-content: center;
    top: 15px;
    transition: 1s;
}

.activeNavLinks{
    color: white;
    /* padding: 20px;
    z-index: 1000; */
}

.activeNavLinks li {
    color: white !important; 
}

.navLinks li {
    color:white;
    font-size: 20px;
    padding: 0 10px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 7px;
    transition:.4s;
    text-transform: capitalize;
    text-decoration: none;
}

.navLinks li button{
    font-size:12px;
    font-weight: bolder;
    background: #C81C50;
    border-radius: 7px;
    color:white;
    padding:0px 10px;
}

.buttonDiv{
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: start;
    border-radius: 50%;
}

.buttonDiv li{
    margin: 0;
}

.dropDown{
    background: transparent !important;
    border: none !important;
    padding: 0 !important;
    line-height: 0 !important;
}

.dropDown li {
    font-size:12px;
    font-weight: bolder;
    background: #C81C50;
    border-radius: 7px;
    color:white;
    padding:5px 10px !important;
}

.dropDown::after{
    content: none !important;
}