.blogPageStyle {
  background-color: #b0d2ea;
}

.blogContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  object-fit: contain;
  flex-direction: column;
}
.blogContainerDiv img {
  filter: brightness(50%);
  object-fit: cover;
  border-radius: 30px;
  width: 85%;
  height: 450px;
}
.blogContainerDiv h1 {
  color: white;
  position: absolute;
}

.blogContainerDiv{
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blogLetterContainer {
  display: flex;
  background: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.imageBlogDiv img {
  width: 96%;
  object-fit: cover;
  height: 346px;
}
.blogCardContainer {
  display: flex;
  padding-top: 21px;
  flex-wrap: wrap;
  justify-content: center;
  /* padding: 20px 35px; */
}
.cardImg {
  width: 18%;
  background: white;
  height: 330px;
  margin: 0px 14px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  overflow: hidden;
}
.cardImg img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-top-left-radius: 15px 15px;
  border-top-right-radius: 15px 15px;
  transition: transform 0.4s ease-in-out;
}
.cardImg img:hover {
  transform: scale(1.1);
}
.cardImageDiv {
  overflow: hidden;
}
.cardText {
  padding: 15px;
}

.cardText h5 {
  font-weight: bold;
}

.cardText p {
  font-size: 14px;
}
.secondCardDiv {
  background-color: white;
  margin: 10px;
  width: 45%;
  border-radius: 12px;
  padding: 10px;
}

.columnCardsContainer {
  margin: auto;
  width: 89%;
  overflow: hidden;
}
.columnCardsMainDiv {
  padding-top: 120px !important;
}
.columnCardsContainerDiv {
  display: flex;
  background: white;
  margin: 0px 0px 25px;
  box-shadow: rgb(0 0 0 / 2%) 0px 1px 3px 0px,
    rgb(27 31 35 / 15%) 0px 0px 0px 1px;
}
.paragraph {
  width: 50%;
  padding: 15px;
}
.paragraph h5 {
  font-weight: bold;
}
.paragraph p {
  font-size: 15px;
}
.cardButton button {
  background-color: #c81c50;
  color: white;
  border-radius: 10px;
  padding: 10px;
}
.cardButton {
  display: flex;
  justify-content: flex-end;
  margin: auto;
  width: 79%;
  padding-top: 19px;
}
.secondColCardDiv {
  display: flex;
  width: 100%;
  margin: 10px;
}

.rightCardImg img {
  padding: 0px;
  margin: 0;
  height: 85px;
  margin-left: 0px !important;
  object-fit: contain;
}

.rightCardImg {
  width: 44% !important;
}
.colCardImg img {
  padding: 0px;
  margin: 0px;
  height: 300px;
  object-fit: cover;
}

.eventColCardDiv {
  width: 100%;
  margin: auto !important;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
.leftEventext {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44% !important;
}

.blogSearchField {
  position: relative;
  display: flex;
  justify-content: center;
  width: 80%;
  margin: auto;
}
.blogSearchField input {
  border: none;
  border-radius: 19px;
  padding: 10px 57px;
  width: 100%;
}

.searchIcon {
  -webkit-transform: scaleX(-1);
  color: grey;
  position: absolute;
  top: 15px;
  left: 17px;
}
.searchContainer {
  width: 100%;
  padding: 14px 5px;
  border-radius: 20px;
}

.searchContainer p {
  margin: 10px 10%;
}

.eventContainer {
  width: 76%;
  flex: flex;
  margin: auto;
  height: 282px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: white;
  color: black;
}
.eventContainer h3 {
  text-align: center;
}
.horizontalRule {
  border: 3px solid black;
  border-radius: 5px;
  opacity: 1;
  background-color: black;
}

.tagDiv {
  background-color: white;
  margin: 9px;
  padding: 3px;
  border-radius: 9px;
  width: 15% !important;
}
.TagContainer {
  margin: 0px 67px;
}
.TagContainerDiv {
  display: flex;
}
.lastCardContainer {
  display: flex;
  padding: 10px;
  justify-content: center;
  border-radius: 14px;
  flex-direction: column;
}
.cardSectionRow {
  display: flex;
  justify-content: center;
}

.lastCardImg {
  display: flex;
  justify-content: center;
}
.lastCardImg img {
  width: 100%;
  border-radius: 12px;
}
.lastCardDiv {
  background-color: white;
  margin: 10px;
  border-radius: 12px;
  padding: 10px;
  width: 20%;
}

.lastSectionContainer {
  display: flex;
  justify-content: center;
}
.rightSectionFixed {
  bottom: 0px;
  right: 0px;
  position: fixed;
}

.mainCardBackground {
  background-image: url("../Images/blog/firstBlogPageBackground.png");
  width: 100%;
}

.scrollToTop {
  border-radius: 50%;
  background-color: grey;
  width: 30px;
  height: 30px;
}
.mainScrollButton {
  display: flex;
  justify-content: flex-end;
  padding: 0px 120px;
}

.blogLetterPaddingTop {
  padding-top: 45px !important;
}

.firstConBackground {
  background-image: url("../Images/blog/firstBlogCon.png");
  background-size: contain;
}

.secondConBackground {
  background: #e3f6ff;
}

.lastConBackground {
  background-image: url("../Images/blog/lastBlogCon.png");
  background-size: cover;
}

.placesHeader {
  width: 77%;
  margin: auto;
}
.popularHeader {
  padding: 0px 64px;
}
.statisticsHeader {
  padding: 0px 65px;
}

@media (min-width: 1024px) {
  .eventContainer {
    width: 80%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .cardImg {
    width: 29%;
    margin-bottom: 20px;
  }
  .columnCardsContainerDiv {
    overflow: hidden;
    height: 300px;
  }
  .paragraph {
    width: 56%;
  }
  .firstConBackground {
    background-size: cover;
  }
  .colCardImg img {
    width: 100%;
  }
  .paragraph p {
    font-size: 14px;
    height: 200px;
    overflow: hidden;
  }
  .eventContainer {
    width: 68%;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .blogLetterContainer {
    width: 91%;
    margin: auto;
  }
  .eventContainer {
    width: 63%;
  }
  .blogSearchField {
    width: 65%;
  }
  .firstConBackground {
    background-size: cover;
  }
  .cardImg {
    width: 36%;
    margin-bottom: 20px;
  }
  .blogCardContainer {
    padding-top: 60px;
  }
  .colCardImg img {
    width: 100%;
    height: 252px;
  }
  .columnCardsContainerDiv {
    overflow: hidden;
    height: 205px;
  }
  .paragraph p {
    font-size: 13px;
    height: 140px !important;
    overflow: hidden !important;
  }
  .paragraph h5 {
    font-size: 15px;
  }
}

@media (max-width: 480px) {
  .imageBlogDiv img {
    width: 100% !important;
    object-fit: cover;
    height: 257px;
  }
  .paragraph p {
    font-size: 12.4px;
    height: 132px !important;
    overflow: hidden !important;
  }
  .columnCardsContainerDiv {
    overflow: hidden;
    height: 205px;
  }
  .blogLetterContainer {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
  }
  .paragraph {
    width: 100%;
    padding: 19px;
  }
  .eventContainer {
    width: 88%;
  }
  .blogCardContainer {
    display: flex;
    padding-top: 20px;
    margin: auto;
  }
  .cardImg {
    width: 60%;
    margin: auto;
    margin-bottom: 35px;
  }
  .blogContainer {
    height: 394px;
  }
  .colCardImg img {
    width: 100%;
    height: 252px;
  }
  .TagContainer {
    margin: 0px 25px;
  }
  .tagDiv {
    width: 30% !important;
  }
  .paragraph p {
    font-size: 12.4px;
    height: 132px !important;
    overflow: hidden !important;
  }
  .paragraph h5 {
    font-size: 14px;
  }
  .cardButton {
    padding: 0px 69px;
  }
  .rightCardImg img {
    width: 100% !important;
  }
  .leftEventext p {
    font-size: 12px;
  }

  .blogSearchField {
    width: 90% !important;
  }
}
