.footerMainDiv{
    background-image: url("..//Images/footer/footerBackground.png");
    background-size: cover;
    width: 100%;
}

.imgDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerContainer{
    padding-top: 10px;
}

.footerRow{
    padding: 35px 0;
    margin: 35px auto;
}

.midUl{
    padding: 0;
}

.midUl li{
    margin: 5px 0;
}

.midService{
    padding: 10px 0;
    color: #D31A52;
}

.midTitle{
    color: #D31A52;
}

.rightTitle{
    color: #D31A52;
    font-weight: 700;
}

.rightUl{
    padding: 0;
}

.rightUl li{
    margin: 13px 0;
}

.midLink{
    color: #D31A52;
    text-decoration: none;
    margin: 5px 0;
    padding: 10px 0;
    font-size: 17px;
}

.bottomRow{
    width: 100%;
    margin: 0 !important;
}

.bottomFooter{
    background: #2D75B0;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottomText{
    margin: 0;
    color:white;
}

.serviceFooter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contactFooter{
    margin-top: 26px !important;
}