.formDiv{
  display: flex;
  justify-content: center;
  width: 100% !important;
  z-index: 2;
  position: fixed;
  top: 0px;
  left: 0px;

  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
}


.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #e3f5ff;
    border-radius: 16px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
    position: fixed;
    height: 100vh;
    top: 0;
    justify-content: center;
   
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input,
  select,
  textarea {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    background-color: white;
   border: none;
width: 70%;
  }
  
  .formBtn {
    background-color: #cf1c4c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  .formBtnContainer{
    display: flex;
    justify-content: end;
    padding: 0px 136px;
    padding-top: 10px;
  }

  .requiredClass span {
    color: red;
    padding: 8px;
}


.mainDiv{
    display: flex;
    
}

.fieldWidth{
    width:100%;
    
}

.subDiv{
    display: flex;
    flex-direction: column;
    width: 35%;
    margin: 0px 2px;
}
.textAreaHeight{
    height: 100px;
}

.closeBtnForm{
position: fixed;
z-index: 4;
}
.btnCloseDiv{
  display: flex;
  justify-content: flex-end;
  width: 30%;
  padding: 12px;
}

