

.subCategoryMainDiv{
    background-color: rgb(173,207,234);
}


.categoryContainer{
display: flex;
justify-content: center;
align-items: center;
background-image: url("../Images/subCategory/headSubCategoryBackground.png");
width: 100%;
object-fit: contain;
flex-direction: column;
}
.categoryContainer img{
filter: brightness(66%);
object-fit: cover;
border-radius: 30px;
width: 84%;
height: 450px;

}
.categoryContainer h1 {
    color: white;
    position: absolute;
}

iframe{
    overflow:hidden;
    background:none;
    height:550px;
    width:95%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.mapSection{
    padding-top: 135px;
}
.categoryTitle{
   padding: 0px 16px;
}
.cardContainer{
    display: flex;
    flex-wrap: wrap;
}

.card{
margin: 10px;
text-align: center;
border-radius: 17px;
width: 28%;
}
.card img{
    object-fit: cover;
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.card p{
    background-color: rgb(203,226,244);
    padding: 15px;
    border-radius: bottom 47px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.categoryBody{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}
.searchField{
    position: relative;
    padding: 0px 12px;
}
.searchField input {
    background-color: #f0f0f0;
    border: none;
    border-radius: 10px;
    padding: 13px 55px;
    width: 60%;
  }
 .dealsContainer{
    display: flex;
   justify-content: center;
   /* padding:50px 0px;  */
  }
 .dealsCard{
    margin: 10px;
    text-align: center;
    border-radius: 27px;
    width: 20%;
    background-color: rgb(171,205,232);
     
 }
 .dealsCard img{
    object-fit: cover;
    width: 100%;
    border-radius: 25px;
    filter: brightness(70%);
    height: 279px;

 }
 .dealsCard p{
   padding: 20px;
   border-bottom-left-radius: 30px;
   border-bottom-right-radius: 30px;

 }
 .firstContainer{
    padding-top: 73px;
    background-image: url('../Images/subCategory/dealsSubCategoryBackground.png');

 }
 .dealsTitle{
    padding: 0px 288px;
 }
 .searchIcon{
    -webkit-transform: scaleX(-1);
    color: grey;
    position: absolute;
    top: 18px;
    margin:0px 30px;     
 }

 h1 {
    color: #153866;
  }

