.profileImg{
    margin: 10px auto;
    box-shadow: 6px 6px 10px grey, -6px -6px 10px grey;
    border-radius: 10px;
}

.mainProfile{
    background: #B0D2EB;
}

.inputRow{
    margin: 10px auto !important;
}

.labelProfile{
    padding: 7px 0 !important;
}

.inputRow input{
    background: #E4F6FF;
    border: none;
    border-radius: 15px;
    padding: 8px 15px;
}

.editBtn{
    margin: 10px auto;
    display: flex;
    background: #E4F6FF;
    width: 120px;
    text-align: center;
    padding: 5px 10px;
    justify-content: center;
    border-radius: 15px;
    /* border: 1px solid black; */
}

.editBtn:hover{
    background: #6B97BE;
    color: white;
}

.btnDiv{
    display: flex;
    justify-content: center;
}

.btnDiv button{
    margin: 5px 20px;
    display: flex;
    width: 120px;
    text-align: center;
    padding: 5px 10px;
    justify-content: center;
    border-radius: 15px;
    border: 1px solid #6B97BE;
    color: white;
}

.saveBtn{
    background: #6B97BE;
    opacity: .8;
}
.saveBtn:hover{
    opacity: 1;
}

.cancelBtn{
    background: #C81C50;
    opacity: .8;
}
.cancelBtn:hover{
    opacity: 1;
}

.profileTitle{
    margin: auto !important;
}

.mainBottomDiv{
    width: 100%;
    background-image: url("../Images/userProfile/bottomProfileSection.png");
    background-size: cover;
    padding: 50px 20px;
}

.leftDivImg{
    margin: auto;
}

.leftBtnSection{
    justify-content: center;
    margin: 10px auto;
}

.leftBtnSection button{
    padding: 5px 10px;
    margin: 0 10px;
    background-color: #E4F6FF;
    color: black;
    border-radius: 15px;
    width: 100px;
}

.favoriteBtn:hover , .savedBtn:hover{
    background: #6B97BE;
    color: white;
}

.card{
    padding: 10px 0px;
}

.cardBody{
    background: #ABCDE8;
    padding: 10px 20px;
    height: 175px;
    border-radius: 10px;
}