.profileImg {
  margin: 10px auto;
  box-shadow: 6px 6px 10px grey, -6px -6px 10px grey;
  border-radius: 10px;
}

.mainProfile {
  background: #b0d2eb;
}

.inputRow {
  margin: 10px auto !important;
}

.labelProfile {
  padding: 7px 0 !important;
}

.inputRow input {
  background: #e4f6ff;
  border: none;
  border-radius: 15px;
  padding: 8px 15px;
}

.editBtn {
  margin: 10px auto;
  display: flex;
  background: #e4f6ff;
  width: 120px;
  text-align: center;
  padding: 5px 10px;
  justify-content: center;
  border-radius: 15px;
  /* border: 1px solid black; */
}

.editBtn:hover {
  background: #6b97be;
  color: white;
}

.btnDiv {
  display: flex;
  justify-content: center;
}

.btnDiv button {
  margin: 5px 20px;
  display: flex;
  width: 120px;
  text-align: center;
  padding: 5px 10px;
  justify-content: center;
  border-radius: 15px;
  border: 1px solid #6b97be;
  color: white;
}

.saveBtn {
  background: #6b97be;
  opacity: 0.8;
}
.saveBtn:hover {
  opacity: 1;
}

.cancelBtn {
  background: #c81c50;
  opacity: 0.8;
}
.cancelBtn:hover {
  opacity: 1;
}

.profileTitle {
  margin: auto !important;
}

.mainBottomDiv {
  width: 100%;
  background-image: url("../Images/userProfile/bottomProfileSection.png");
  background-size: cover;
  padding: 50px 20px;
}

.leftDivImg {
  margin: auto;
  position: relative;
}

.leftBtnSection {
  justify-content: center;
  margin: 10px auto;
}

.leftBtnSection button {
  padding: 5px 10px;
  margin: 0 10px;
  background-color: #e4f6ff;
  color: black;
  border-radius: 15px;
  width: 100px;
}

.favoriteBtn:hover,
.savedBtn:hover {
  background: #6b97be;
  color: white;
}

.card {
  padding: 10px 0px;
}

.cardBody {
  background: #abcde8;
  padding: 10px 20px;
  height: 175px;
  border-radius: 10px;
}

.editImageLabel {
  position: absolute;
  right: -33px;
  top: 5px;
  color: black;
}

.editImageLabel i{
    font-size: 25px;
    cursor: pointer;
}
