.mainDiv{
    background: #ADCFEA;
    padding: 50px 0;
}

.cardsRowCenter{
    justify-content: center;
}

.card{
    text-align: center;    
}

.cardBody{
    margin: 10px auto;
    background: #5E96C5;
    height: 350px;
    border-radius: 50px;
    max-width: 310px;
}

.imgDiv{
    /* display: flex;
    justify-content: center; */
}

.img{
    height: 100px;
    width: 200px !important;
    margin: 0px auto;
    margin-top: 15px !important;
    border-radius: 35px;
}

.description{
    height: 140px;
    overflow: hidden;
}

.aboutArticle{
    padding: 10px 20px;
}

.aboutDisc{
    font-size: 24px;
    height: 27px;
    overflow: hidden;
    color: white;
    font-weight: 500;
}