.mainDiv{
    background: #ADCFEA;
    background-image: url("../../Images/home/blogBackground.png");
    background-size: cover;
    width: 100%;
    padding: 50px 0;
    height: 820px;
    display: flex;
    align-items: end;
}


.cardsRowCenter{
    justify-content: center;
}

.card{
    text-align: center;    
}

.cardBody{
    margin: 10px auto;
    background: #5E96C5;
    height: 350px;
    border-radius: 50px;
    max-width: 350px;
}

.imgDiv{
    /* display: flex;
    justify-content: center; */
}

.img{
    height: 225px;
    width: 100% !important;
    margin: 0px auto;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.description{
    height: 140px;
    overflow: hidden;
}

.aboutArticle{
    padding: 10px 20px;
}

.aboutDisc{
    font-size: 20px;
    height: 82px;
    overflow: hidden;
    color: white;
    font-weight: 500;
    padding: 10px;
}
.blogTitle{
    position: relative;
    bottom: 250px;
    font-weight: 900;
    text-align: end;
    color: white;
    height: 55px;
    font-size: 70px;
}