.jobContainer{
    padding: 70px;
    background-image: url("../../images/jobBackground.png");
    background-size: cover;
    width: 100%;
}

.mainJobDiv{
    padding-top: 50px;
}

.jobCard{
    /* width: 400px;
     height: 400px; */
    cursor: pointer;
    /* position: relative; */
    display: flex;
    align-items: center;
    flex-direction: column;
}

.colCenter{
    display: flex;
    justify-content: center;

}

.cardText{
    text-align: center;
    font-weight: 700;
    color:#2D75B1;
    text-align: center;
}

.navLink{
    text-decoration: none;
  }